apiVersion: v1
kind: Secret
metadata:
  name: ghcr-secret
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "ghcr.io": {
          "username": "YOUR_GITHUB_USERNAME",
          "password": "YOUR_GITHUB_PAT",
          "email": "YOUR_EMAIL",
          "auth": "BASE64_ENCODED_USERNAME_COLON_PAT"
        }
      }
    }
